*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
 
html {
    scroll-behavior: smooth;
  }

 
 
/* ++++++++++rahul logo csss start++++++++++++++ */
.navbar .navbar-brand{
    padding: 0.5rem 6rem;   
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 3rem;
    text-transform: uppercase;
    
}
/* ++++++++++rahul logo csss end++++++++++++++ */

/* -++++++++--navbar css satrt ------------------------- */
.collapse .navbar-nav .nav-item{
    padding: 0.5rem 0.8rem;
    
}
.collapse .navbar-nav .nav-item a{
    color: rgb(0, 0, 0);
    font-weight: 600;
    align-items: center;
    
} 
.collapse .navbar-nav .nav-item a:hover{
    color: rgb(36, 137, 238);
    font-weight: 700;
     
    
} 
.collapse .navbar-nav .nav-item a:active{
    color: rgb(226, 21, 21);
} 
     
     
    
 
    
    
/* -++++++++--navbar css end  ------------------------- */

.projects{

    width: 100%;
    height: 100%;
    border: 2px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    color: black;
    text-decoration: none;

}
.projects:hover{

 border: transparent;
 transition: all 12s 10s ease-in-out;

}







 

/* +++++++++banner name start++++++++++++ */
.site-banner{
    background: url("https://tripurrasilks.co.za/wp-content/uploads/2019/04/videoblocks-white-and-grey-paper-geometric-squares-motion-background-seamless-looping-video-animation-ultra-hd-4k-3840x2160_hcxncxphz_thumbnail-full01.png") no-repeat 0% 50%;
   
}
.site-banner  h2{
    font-family: 'Roboto', sans-serif;
    
    padding-top: 37%;
    font-weight: 500;
    
}
.site-banner h2::after{
    content: "";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
    
}

.site-banner   h1{
    
    font-size: 5rem;
    font-family: 'Baloo Bhai 2', cursive;
    font-family: 'Roboto', sans-serif;
    
}

.site-banner     h4{
    font-family: 'Roboto', sans-serif;
    font-size: 1.7rem;
    
}

.site-button .btn {
  
    border: 2px solid black;
    margin: 1rem;
    padding: 0.5rem 1.5rem ;
    border-radius: 5px ;
    color: rgb(0, 0, 0);
    font-family: 'Baloo Bhai 2', cursive;
  
    
}
.site-button  .primary-button{
    /* background-color: rgba(216, 10, 10, 0.299); */
    background-color: rgb(225, 32, 32);
    background-clip: padding-box;


}
.site-button  .secondary-button:hover{
    /* background-color: rgba(216, 10, 10, 0.299); */
    background-color: rgb(225, 32, 32);
    transform: scale(1.1) ;
    
    
}
.site-button  .primary-button:hover{
    transform: scale(1.1) ;
    background-color:whitesmoke;
transition:ease-in-out;


}


/* +++++++++banner name  end++++++++++++ */

/* ++++++++++++++banner-image :start+++++++++++++++++ */
.about-area{
   
    background:rgb(247, 247, 247);
}
.banner-image >img{
    padding: 5rem 0rem;
    height: 40rem ;
    width: 90rem ;

    
}
/* ++++++++++++++banner-image end +++++++++++++++++ */

/* ++++++++++++++++about para section  start+++++++++++++++ */
.about-area .about-para{
    padding: 7rem 0;
    font-family: 'Baloo Bhai 2', cursive;

  
}
.about-para h1 {
    
  letter-spacing: 10px;
     
    font-family: 'Libre Baskerville', serif;
font-family: 'Yanone Kaffeesatz', sans-serif;

  
}
.about-area img{
    /* padding: rem 0; */
    /* width: 90rem; */
    height: 32rem;
  
}
.about-area .line{
    width: 500px;
   
    margin: auto;
} 

.aboutme{
    font-family: 'Baloo Bhai 2', cursive;

   
}
/* ++++++++++++++++about para section end  +++++++++++++++ */

/* +++++++++++contact :start+++++++++++++++ */
.contact-line span {
    display: block;
    font-family: 'Chivo', sans-serif;
    font-family: 'El Messiri', sans-serif;
    /* font-family: 'Playfair Display', serif; */
    font-size: 3rem ;
    line-height: 5.5rem;
    /*   */
    

     
}

.contact-us{
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 1.6rem;
}
.contact-us .form-group{
  
   
   font-size: 1rem;
}
.contact-us .form-group input{
    font-size: 1.1rem;
    letter-spacing: 0.2rem;
    font-weight: 500;
    
}
.submit-btn{
    /* padding: 0.5rem 14.5rem; */
    width: 30rem;
     
    
}
.contact .line{
    width: 500px;
   
    margin: auto;
} 
.contact {
    padding: 4rem 0 ;
     
}
.contact .con-2  {
    background: whitesmoke;
    
    /* background: url("https://img.freepik.com/free-photo/contact-icons-keyboard-button-online-contact-concept_2227-1391.jpg?size=1206&ext=jpg&ga=GA1.2.1193136732.1585629592" )no-repeat 50% 50% ; */
    /* opacity: 0.8; */
}
.contact-1{
    
}
/* +++++++++++contact end+++++++++++++++ */

/* +++++++++++++++++skilllllllll+++++++++++ */
#skills{
    background-color: whitesmoke;
    font-family: 'Baloo Bhai 2', cursive ; 
}

.content3{
padding-top: 60px;
padding-bottom: 60px;
position: relative;
}

.content3 .title{
/* margin-bottom: 60px; */
position: relative;
color:black;
font-size: 50px;
font-family: 'Roboto', sans-serif;
font-family: 'Baloo Bhai 2', cursive ; 
/* font-weight: 10; */
/* text-decoration: underline; */
text-align: center;
}

  .skill-line{
    width: 500px;
    display: block;
    margin: auto;
}

.ski{
padding-left: 20px;
padding-right: 20px;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}


.skill-info{
display: flex;
justify-content: space-between;
color: black;
}

.skill-bar{
height: 3px;
background-color: rgb(14, 1, 1);
margin-top: 14px;
position: relative;
}

.skill-bar::after{
content: '';
position: absolute;
height: 6px;
background-color:#48dbfb;
bottom: 0;
}

.html::after{
width: 95%;  
}

.css::after{
width: 90%;
}

.javascript::after{
width: 85%;
}

.bootstrap::after{
width: 75%;
}

/* .nodejs::after{
width: 40%;
}
.c::after{
	width: 40%;
}
.python::after{
	width: 50%;
}
 
.photoshop::after{
width: 70%;
} */



 /* meadiya quires+++++++++++++ */
 @media screen and ( max-width: 1205px) {
    .submit-btn{
       
        width: 25rem;
         
        
    }
 @media screen and ( max-width: 443px) {
    .submit-btn{
       
        width: 15rem;
         
        
    }
 @media screen and ( max-width: 276px) {
    .submit-btn{
       
        width: 9rem;
    }
} 
        
  @media screen and (max-width: 540px){
     .contact .line{
       
       width: 100px;
        margin: auto;
    }  
     .about-area .line{
       
       width: 100px;
        margin: auto;
    }  
    .skill-line{
        width: 100px;
        display: block;
        margin: auto;
    }
  }

  h1{
    font-family: 'Baloo Bhai 2', cursive ; 
    
  }
 

 

 
   